html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background-color: black;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-weight: normal;
  font-display: swap;
};
