---
import Layout from "../layouts/Layout.astro";
import ScrollingImages from "../components/ScrollingImages.astro";
import ScrollingImagesInverted from "../components/ScrollingImagesInverted.astro"
---


<Layout title="Mikael Nyberg">
  <!-- <div class="h-full"> -->
  <h1 class="text-6xl sm:text-8xl text-center font-family: 'Montserrat'">
    MIKAEL NYBERG
  </h1>
  <div class="flex justify-center mx-40 mt-5">
    <ScrollingImages/>
    <ScrollingImagesInverted/>
    <ScrollingImages/>
  </div>
  <!-- </div> -->
</Layout>
