---
import { client } from "../lib/contentful";
interface Photograph {
  name: string;
  description: string;
  photographer?: string;
  photographUrl: string;
}

const photographs = await client.getAllPhotographs();
---

<div class="w-full h-screen inline-flex flex-col flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_bottom,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
  <ul
      class="flex flex-col items-center justify-center md:justify-start [&_img]:max-w-none animate-infinite-scroll"
    >
      {
        photographs.map((photograph: Photograph) => (
          <li class="mt-4 ">
                <img
                  src={photograph.photographUrl}
        class="w-full"
                />
          </li>
        ))
      }
    </ul>
    <ul
      class="flex flex-col items-center justify-center md:justify-start [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true"
    >
      {
        photographs.map((photograph: Photograph) => (
          <li class="mt-4 ">
                <img
                  src={photograph.photographUrl}
        class="w-full"
                />
          </li>
        ))
      }
    </ul>
</div>
