---
// src/components/ImageDisplay.astro

let image = null;

const response = await fetch('http://localhost:4321/api/images/');
const data = await response.json();
if (data.length > 0) {
  image = data[0];  // Get the first image
}
---

<div>
  <if {image}>
    <img src={`http://localhost:4321${image.image}`} alt="Uploaded Image" style="max-width: 100%;" />
  <else>
    <p>No image available</p>
  </if>
</div>

